@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 600px;
    background-color: rgb(233, 233, 233);
    font-family: 'Nunito', sans-serif;
    margin: auto;
}

/* #TODO 1. Home Friend */
.container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60px auto 56px;
    background-color: rgb(233, 233, 233);
    grid-gap: 5px;
    padding: 0px;
}

.header {
    height: 60px;
    display: grid;
    grid-template-columns: 50px auto 50px;
    grid-gap: 20px;
    padding-top: 24px;
    justify-items: center;
    background-color: white;
    padding: 20px;
}

.header a img {
    width: 24px;
}

.header-menu a {
    padding: 7px 15px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}

.not-active {
    color: #9F9F9F;
}

.active {
    border-bottom: 2.5px solid #B82935;
    color: #1A1A1A;
}

.content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    background-color: rgb(233, 233, 233);
    grid-gap: 5px;
}

.box {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70px auto 40px auto;
    background-color: white;
}

/* #TODO 1. Header Content */

.header-content {
    margin: 15px 15px 10px 15px;
    display: grid;
    grid-template-columns: 50px auto 40px;
    grid-template-rows: 50px;

}

.foto-profile {
    place-self: center;


}

.foto-profile img {
    width: 35px;
    clip-path: circle();
}

.nama-profile {
    display: flex;
    flex-direction: column;
    line-height: 5px;
    padding: 3px 0px 10px 0px;
}

.nama-profile h6 {
    padding-top: 10px;
    font-weight: 600;
    font-size: 16px;
    color: rgba(26, 26, 26, 1);
}

.nama-profile p {
    font-weight: 400;
    font-size: 10px;
    color: rgba(111, 111, 111, 1);
}

.navigasi {
    place-self: center end;
}

/* #TODO 1. Deskripsi */

.deskripsi-content {
    margin: 30px 20px 15px 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    position: relative;
}

#more2 {
    display: none;
}

#des-show {
    overflow: hidden;
    height: 20px;
    margin-right: 50px;
    font-size: 14px;
    line-height: 20px;
}

#des-show2 {
    overflow: none;
    margin-right: 50px;
    font-size: 14px;
    height: auto;
    line-height: 20px;
}

#more {
    background: none;
    border: none;
    position: absolute;
    top: 1.7rem;
    right: 15px;
    color: darkgray;
}

/* #TODO 1. Image Content */
.img-content {
    width: 100%;
    height: auto;
    overflow: hidden;
    break-inside: avoid;
}

.img-content img {
    width: 100%;
    height: auto;
    position: relative;
    object-fit: cover;
    object-position: center;
}

/* #TODO 1. Action Footer */
.footer-content {
    display: grid;
    grid-template-columns: 80px 80px 80px auto;
    margin: 0px 18px 17px 21px;
    height: 40px;
}

.footer-content>a {
    display: flex;
    gap: 7px;
    text-decoration: none;
}

.footer-content>a>p {
    padding-top: 15px;
    color: black;
}

.share-left {
    place-self: center start;
}

.share-right {
    place-self: center end;
}

#popUp {
    position: fixed;
    background-color: rgb(223, 223, 223);
    width: 600px;
    height: 566px;
    bottom: -110%;
    border-radius: 20px 20px 0px 0px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60px 460px 45px;
    gap: 3px;
    transition: 1s;

}

#popUp.active {
    visibility: visible;
    bottom: 0;
}

@media (max-width: 767px) {
    #popUp {
        width: 540px;
    }
}

@media (max-width: 575px) {
    #popUp {
        width: 100%;
    }
}

.header-comment {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: white;
    border-radius: 20px 20px 0px 0px;

}

.header-comment p {
    width: 100%;
    padding-left: 38%;
    padding-top: 10px;
}

.header-comment img {
    width: 20px;
    margin-right: 25px;
}

.all-comment {
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow-y: auto;
}



.grub-comment {
    display: flex;
    padding: 20px 20px 0px 20px;

}

.foto-comment {
    width: 40px;
}

.foto-comment img {
    clip-path: circle();
    width: 32px;
    height: 32px;
}

.isi-comment {
    padding: 0px 0px 0px 10px;
    width: 80%;

}

.isi-comment h6 {
    font-weight: 700;
    font-size: 14px;
}

.isi-comment p {
    font-weight: 400;
    font-size: 14px;
    margin-top: -6px;
    margin-bottom: -1px;
}

.isi-comment span {
    font-weight: 400;
    font-size: 10px;
    color: #9F9F9F;

}

.isi-comment span a {
    text-decoration: none;
    color: #9F9F9F;
    margin-left: 10px;
}

.love-comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40px;
    padding-left: 20px;
}

.love-comment img {
    width: 17px;
    padding-left: 3px;
    padding-bottom: 5px;
}

.love-comment p {
    font-weight: 600;
    font-size: 8px;
    text-align: center;
}

.input-comment {
    border-radius: 20px;
    background-color: #F7F7F7;
    display: flex;
    align-content: center;
    height: auto;
}

.input-comment input {
    border: none;
    background-color: #F7F7F7;
    outline: none;
    width: 80%;
    padding-left: 20px;
}

.input-comment img {
    width: 30px;
    padding-left: 10px;
}

/* #TODO 2. Home Explore */

.container-2 {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60px auto 60px;
    background-color: rgb(233, 233, 233);
    grid-gap: 5px;
    padding: 0px;
}

.header {
    height: 60px;
    display: grid;
    grid-template-columns: 50px auto 50px;
    grid-gap: 0px;
    padding-top: 24px;
    justify-items: center;
    background-color: white;
    padding: 20px;
}

.header a img {
    width: 24px;
}

.header-menu a {
    padding: 7px 10px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}

.not-active {
    color: #9F9F9F;
}

.active {
    border-bottom: 2.5px solid #B82935;
    color: #1A1A1A;
}

.content-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr;
    background-color: rgb(216, 216, 216);
    grid-gap: 10px;
    margin: 0px 10px;
}

.content-2 a {
    text-decoration: none;
}

.box-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.box-2 img {
    width: 100%;
    height: 210px;
    object-fit: cover;
    object-position: center;
}

.box-2 p {
    font-weight: 400;
    font-size: 12px;
    padding: 10px 10px 0px 10px;
    color: black;
}

/* #TODO Exlore View Foto */

.container-3 {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 90px auto;
    background-color: rgb(233, 233, 233);
    grid-gap: 5px;
    padding: 0px;
}

.header-3 {
    height: 90px;
    display: grid;
    grid-template-columns: 30px 40px auto 60px 30px;
    grid-gap: 10px;
    padding-top: 24px;
    background-color: white;
    padding: 20px;
}

.back {
    place-self: center;
}

.foto-profile-3 {
    align-self: center;
}

.foto-profile-3 img {
    width: 40px;
    clip-path: circle();
}

.nama-pengguna {
    padding-top: 10px;
    line-height: 10px;
    text-decoration: none;
}

.nama-pengguna h6 {
    font-weight: 700;
    font-size: 14px;
    color: #1A1A1A;
}



.nama-pengguna p {
    font-weight: 400;
    font-size: 14px;
    color: #6F6F6F;
}

@media (max-width: 320px) {
    .nama-pengguna h6 {
        font-size: 12px;
    }

    .nama-pengguna p {
        font-size: 12px;
    }

    .nama-pengguna p img {
        display: none;
    }
}

.folow-3 {
    align-self: center;
}

.folow-3 a img {
    width: 60px;
}

.share-3 {
    place-self: center;
}

.content-3 {
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 240, 240);

}

.img-3 {
    width: 100%;
    height: auto;

    overflow: hidden;
    break-inside: avoid;
}

.img-3 img {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: contain;
    object-position: center;
}

.des-3 {
    padding: 15px 20px 25px 20px;
    background-color: white;
    margin-bottom: 3px;
}

.des-3 h6 {
    font-weight: 700;
    font-size: 16px;
}

.des-3 p {
    font-weight: 400;
    font-size: 14px;
}

.tgl p {
    font-weight: 400;
    font-size: 10px;
    color: #6F6F6F;
}

.comment {
    background-color: white;
}

.bottom-bar-comment {
    position: fixed;
    display: flex;
    bottom: 0;
    height: 56px;
    background-color: rgb(219, 31, 31);
    align-items: center;
    width: 600px;
}

.bottom-bar-comment a {
    padding: 20px 0px 10px 20px;
    display: flex;
}

/* #TODO buttom bar */


.nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    font-size: 13px;
    color: #444444;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.nav__icon {
    font-size: 18px;
}

.nav__link span {
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 14px;
}

/* #TODO Add Post */

.container-addpost {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70px 140px 89px;
    background-color: rgb(233, 233, 233);
    gap: 3px;
}

.header-add-post {
    background-color: white;
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;

}

.btn-post {
    overflow: hidden;
    width: 81px;
    background-color: #379ED8;
    border: none;
    height: 29px;
    outline: none;
    text-decoration: none;
    border-radius: 51px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    margin: 2px 0;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    padding: 0px 0px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;

}

.post {
    background-color: white;
    display: flex;
    align-items: center;
}


.post-title input {
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    color: #C4C4C4;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;

}

.post-deskripsi {
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    color: #C4C4C4;
    padding: 20px 20px;
    width: 100%;
    height: auto;
}


.des-post {
    background-color: white;
}

.form .grid {
    display: flex;
    margin: 10px 20px;
}

.form .grid .form-element {
    width: 100px;
    height: 100px;
}

.form .grid .form-element input {
    display: none;
    size: 100%;
}

.form .grid .form-element img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.form .grid .form-element label {
    width: 100px;
}

.form .grid .form-element div {
    position: relative;
    height: 40px;
    margin-top: -30px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    color: #f5f5f5;
    font-weight: 600;
}

.form .grid .form-element div span {
    font-size: 30px;
}

/* #TODO Notif_Page */

.container-home-2 {
    width: 100%;
    min-height: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60px auto;
    background-color: rgb(221, 221, 221);
    grid-gap: 4px;
    padding: 0px;
}

.content-notif {
    height: auto;
    width: 100%;
    background-color: white;
}

.grub {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}

.grub span {
    padding: 10px 20px 0px 20px;
    font-weight: 700;
    font-size: 12px;
    color: #6F6F6F;
}

.like {
    display: flex;
    justify-content: space-between;
}

.isi-notif {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;
    position: relative;

}

.isi-notif:hover {
    color: black;
}

.f-notif {
    padding-right: 20px;
}

.f-notif img {
    clip-path: circle();
    width: 45px;
}

.notif-inf {
    width: 60%;
    font-size: 14px;
}

.notif-inf b {
    font-weight: 700;
    font-size: 14px;
}

.notif-inf span {
    color: rgb(126, 126, 126);
    margin-left: -15px;
}

.f-like {
    width: 80px;
    display: flex;
    justify-content: end;
}

.f-like img {
    width: 100%;
    padding-right: 10px;
}

.notif-folow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-folow {
    width: 100px;
}

.btn-folow {
    overflow: hidden;
    width: 74px;
    background-color: #b90f18;
    border: none;
    height: 30px;
    outline: none;
    text-decoration: none;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    margin: 0px 20px;
    font-weight: 700;
    padding: 4px 0px;
    font-family: 'nunito';
    font-style: normal;
    font-size: 14px;
}

/* #TODO Report_Page */

.content-report {
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 20px;
}

.sub-ket {
    padding: 20px 0px 0px 20px;
    font-weight: 700;
    font-size: 12px;
    color: #6F6F6F;
}

.isi-report {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    padding: 0px 29px 10px 20px;
}

.isi-report:hover {
    color: black;
}

.isi-report span {

    font-size: 400;
    font-size: 16px;
}