@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";


/* #TODO Backup Slide Bar */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 600px;
    background-color: rgb(233, 233, 233);
    font-family: 'Montserrat''Nunito', sans-serif;
    margin: auto;

}

.foto {
    height: 100%;
}

.tabs {
    width: 100%;

}

.tabs .tab-header {
    display: flex;
    justify-content: space-between;
    height: 45px;
    align-items: center;
    background-color: white;
}

.tabs .tab-header>div {
    font-family: 'Nunito';
    width: calc(100% / 2);
    text-align: center;
    color: #888;
    font-weight: 700;
    cursor: pointer;
    font-size: 16px;
    outline: none;
}

.tabs .tab-header>div>i {
    display: block;
    margin-bottom: 5px;
}

.tabs .tab-header>div.active {
    color: black;
}

.tabs .tab-indicator {
    position: relative;
    width: calc(100% / 2);
    height: 4px;
    background: brown;
    left: 0px;
    border-radius: 5px;
    transition: all 500ms ease-in-out;
}

.tabs .tab-body {
    margin-top: 10px;
    position: relative;
    height: calc(100% - 60px);
    padding: -4px 0px;
    width: 100%;
}

.tabs .tab-body>div {
    position: absolute;
    top: 0%;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 500ms ease-in-out 0ms,
        transform 500ms ease-in-out 0ms;
}

.tabs .tab-body>div.active {
    top: 0px;
    opacity: 1;
    transform: scale(1);
}

#post {
    width: 94.5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 10px;
    gap: 10px;
    position: relative;

}


.box-post {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    line-height: 22px;
    position: relative;
}

.box-post img {
    width: 100%;
    height: 210px;
    object-fit: cover;
    object-position: center;
}

.box-post p {
    font-weight: 400;
    font-size: 12px;
    padding: 10px 10px 0px 10px;
    color: black;
}

#product {
    margin-top: -8px;
    height: 76px;
    width: 100%;
    background-color: white;
}

.box-product {
    display: flex;
    margin: 20px 20px 20px 20px;
    justify-content: space-between;
    gap: 10px;
    font-family: 'Nunito';
}


.box-product>button {
    padding: 9px 0px;
    background-color: white;
    width: 50%;
    border: 1px solid #ECECEC;
    border-radius: 7px;
    font-weight: 600;
    font-size: 14px;

}

.box-product>button>img {
    margin-right: 10px;
    margin-bottom: 2px;
}

.product-foto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 0px 10px;
}

#collect {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    padding: 100px 20px;
}

#collect p {
    line-height: 20px;
    margin-top: -10px;
}

#p1 {
    font-weight: 600;
}

#p2 {
    font-weight: 400;
}

/* #TODO Profile page */


.container-profile {
    background-color: #F8F5F5;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60px 100px 80px 40px 50px auto;
    font-family: Montserrat;
    position: relative;
}

.container-profile-pribadi {
    background-color: #F8F5F5;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30px 100px 80px 40px 50px auto;
    font-family: Montserrat;
    position: relative;
}

.btn-kebab {
    position: absolute;
    right: 5px;
    top: 60px;
}

.btn-kebab img {
    width: 30px;
    height: 30px;
}

.header-profile {
    padding: 23px 29px;
    align-self: center;
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: relative;

}

.header-profile>a>img {
    width: 30px;
}

.user-des {
    padding: 10px 10px;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: white;
}

.foto-brand {
    margin-top: 20px;
    justify-items: flex-end;

}

.user-des img {
    margin-left: 10px;
    clip-path: circle();
    width: 70px;
}

.nama-user {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
}

.nama-user h6 {
    font-weight: 700;
    font-size: 16px;
}

.nama-user p {
    font-weight: 400;
    font-size: 12px;
    color: #6F6F6F;
}

.des-profile {
    padding: 12px 20px;
    background-color: white;
    align-self: flex-start;
}

.des-profile p {
    font-weight: 400;
    font-size: 14px;
    color: #1A1A1A;
}

.des_folow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: white;
}

.des_folow>div {
    display: flex;
    align-content: center;

}

.des_folow>div>h6 {
    text-align: center;
    margin-right: 10px;
    font-weight: 700;
    font-size: 16px;
}

.des_folow>div>p {
    text-align: center;
    font-weight: 400;
    font-size: 12px;
}

.folow {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding-top: 15px;
}

.btn-folow {
    overflow: hidden;
    width: 80%;
    background-color: #b90f18;
    border: none;
    height: 30px;
    outline: none;
    text-decoration: none;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    margin: 2px 20px;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    padding: 6px 0px;
    font-family: nunito;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    position: relative;
}

.folow a {
    margin-top: 2px;
    margin-right: 20px;
}

.love-content {
    position: absolute;
    right: 0px;
    top: 165px;
    display: flex;
    align-items: center;
}

.love-content img {
    width: 24px;
    height: 24px;
}

.love-content p {
    margin-left: -5px;
    margin-top: 8px;
    color: white;
    font-weight: 600;
    font-size: 14px;
}