@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 600px;
    background-color: rgb(233, 233, 233);
    font-family: 'Nunito', sans-serif;
    margin: auto;
}

/* #TODO 1. shope*/
.con-shope {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(233, 233, 233);
    padding: 0px;
}

/* Header Page Shope */

.head-shop {
    height: 60px;
    width: 600px;
    position: fixed;
    top: 0;
    display: flex;
    background: white;
    align-items: center;
    padding: 6px 10px;
}


@media (max-width: 620px) {
    .head-shop {
        width: 100%;
    }
}

.head-shop a {
    width: 48px;
    height: 48px;
    flex-basis: 48px;
    flex-shrink: 0;
    flex-grow: 0;
}

.search-shop {
    flex-basis: 90%;
    display: flex;
    background: #F5F5F5;
    border-radius: 13px;
    height: 44px;
    align-items: center;
    padding: 10px;
}

.search-shop img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.search-shop input {
    border: none;
    background: none;
    outline: none;
    width: 100%;

}

.item-notif {
    position: relative;
}

.notif {
    position: absolute;
    width: 14px;
    height: 14px;
    clip-path: circle();
    color: white;
    text-align: center;
    background: #B92835;
    line-height: 14px;
    font-size: 10px;
    font-weight: 400;
    top: 0;
    right: 0;
}

.p-notif {
    top: 5px;
    right: 14px;
}

/* ------------------------------------------- */


/* Body SHop -------------------------------------*/

.cat-scroll {
    display: flex;
    padding: 16px 10px;
    gap: 25px;
    overflow-x: auto;
    width: 100%;
    background: white;
    margin-bottom: 5px;
}

.cat-scroll::-webkit-scrollbar {
    display: none;
}

.cat-item {
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 48px;
    text-decoration: none;
    color: #0A0A0A;
}

.body-shop {
    margin-top: 60px;
    height: calc(100vh - 60px);
    overflow-x: hidden;
}

.content-prod {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    padding: 0px 5px;
    grid-row-gap: 10px;
}

.content-item {
    height: auto;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #0A0A0A;
    box-sizing: border-box;
    margin: 0px 5px;
}

.content-item:hover {
    color: #0A0A0A;
}

.content-item img {
    object-fit: cover;
    object-position: center;
    height: 210px;
}

.content-item-des {
    display: flex;
    flex-direction: column;
}

.content-item-des span {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    padding-top: 5px;
}

.content-item-des .harga {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    color: #B92835;
}

.dis {
    display: flex;
    gap: 5px;
    row-gap: 0;
    flex-wrap: wrap;


}

.dis p {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-decoration: line-through;
    color: #9E9E9E;
}

.dis span {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #0A0A0A;
    text-decoration: none;
    line-height: 0.5;
}

/* ------------------------------------------------- */

/* Buttom Bar ----------------------------------------*/

.nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    font-size: 13px;
    color: #444444;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.nav__icon {
    font-size: 18px;
}

.nav__link span {
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 14px;
    color: #0A0A0A;
}


/* ----------------------------------------------- */


/* #TODO Detail Product */

.con-detail-product {
    width: 100%;
    background: #F8F5F5;
    display: flex;
    flex-direction: column;
    height: auto;
}

.foto-detail-product {
    width: 100%;
    height: auto;
    position: relative;
}

.foto-detail-product img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.back-detail-prod {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
}

.title-product {
    height: auto;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 12px 20px;
    position: relative;
    margin-bottom: 5px;
}

.love-detail-prod {
    position: absolute;
    top: 12px;
    right: 21px;
}

.title-product h3 {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    color: #B92835;

}

.dis-detail-prod {
    display: flex;
    align-items: center;
}

.dis-detail-prod span:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 4px;
    position: static;
    width: 34px;
    height: 22px;
    background: #FBDFD4;
    border-radius: 4px;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #B92835;
    margin-right: 6px;
}

.dis-detail-prod span:nth-child(2) {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-decoration-line: line-through;
    color: #757575;
    margin-right: 10px;
}

.dis-detail-prod span:nth-child(3) {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #0A0A0A;
}

.name-prod {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #0A0A0A;
}

.chose-variant {
    padding: 15px 20px;
    background: white;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    color: #0A0A0A;
    position: relative;
    margin-bottom: 5px;
    text-decoration: none;
}

.chose-variant:hover {
    color: #0A0A0A
}

.chose-variant div {
    position: absolute;
    right: 29px;
    top: 13px;
}


.shipping-btn {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    background: white;
    margin-bottom: 5px;
    position: relative;
    text-decoration: none;
}

.shipping-btn span:nth-child(1) {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    color: #0A0A0A;
}

.shipping-btn span:nth-child(2) {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #757575;
}

.shipping-btn div {
    position: absolute;
    right: 29px;
    top: 20px;
}

.brand-acount {
    background: white;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}



.brand-acount span {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    color: #0A0A0A;
}


.prof-brand {
    margin: 13px 0px 0px 0px;
    display: flex;
    align-items: center;
    position: relative;
}

.prof-brand a {
    position: absolute;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 10px;
    width: 50px;
    height: 24px;
    text-decoration: none;
    background: #FFFFFF;
    border: 1px solid #B92835;
    box-sizing: border-box;
    border-radius: 15px;
    color: #B92835;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
}

.img-brand {
    height: 42px;
    width: 42px;
    display: flex;
    justify-content: center;
    clip-path: circle();
    overflow: hidden;
    break-inside: avoid;
    flex-basis: 50px;
    flex-flow: 0;
    flex-shrink: 0;
    margin-right: 10px;
}

.img-brand img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.name-brand {
    display: flex;
    flex-direction: column;
}

.name-brand span:nth-child(1) {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 140%;
    color: #B92835;
}

.name-brand span:nth-child(2) {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #0A0A0A;
}


.prod-des {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: white;
    margin-bottom: 5px;
}

.prod-des span:nth-child(1) {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    color: #0A0A0A;
    margin-bottom: 15px;
}


.prod-des p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #0A0A0A;
}

.prod-des p br {
    margin-bottom: 20px;
}

.comment-detail-product {
    padding: 20px;
    background: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
}

.comment-detail-product span {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    color: #0A0A0A;
    margin-bottom: 15px;
}

.grub-comment {
    display: flex;
    padding: 20px 20px 10px 0px;

}

.foto-comment {
    width: 40px;
}

.foto-comment img {
    clip-path: circle();
    width: 32px;
    height: 32px;
}

.isi-comment {
    padding: 0px 0px 0px 5px;
    width: 80%;

}

.isi-comment h6 {
    font-weight: 700;
    font-size: 14px;
}

.isi-comment p {
    font-weight: 400;
    font-size: 14px;
    margin-top: -6px;
    margin-bottom: -1px;
}

.isi-comment span {
    font-weight: 400;
    font-size: 10px;
    color: #9F9F9F;

}

.isi-comment span a {
    text-decoration: none;
    color: #9F9F9F;
    margin-left: 10px;
}

.love-comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40px;
    padding-left: 20px;
}

.love-comment img {
    width: 17px;
    padding-left: 3px;
    padding-bottom: 5px;
}

.love-comment p {
    font-weight: 600;
    font-size: 8px;
    text-align: center;
}


.btm-bar-detail-product {
    display: flex;
    position: fixed;
    bottom: 0;
    height: 65px;
    background: white;
    align-items: center;
    width: 600px;
    gap: 10px;
    padding-inline: 15px;
}

.btm-bar-detail-product a:nth-child(3) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
    width: 100%;
    height: 48px;
    background: #B92835;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}

@media (max-width: 620px) {
    .btm-bar-detail-product {
        width: 100%;
    }
}

/* ----------------------------------------------- */