@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 600px;
    background-color: rgb(233, 233, 233);
    font-family: 'Montserrat', sans-serif;
    margin: auto;

}

/* #TODO Page_index.html  */
.container-index {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 140px 150px 150px 50px auto;
    background-color: rgb(255, 255, 255);
    padding: 0px 20px;
    grid-gap: 20px;
}

.judul-index {
    padding-top: 50px;
}

.judul-index h6 {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
}

.judul-index p {
    text-align: center;
    padding-top: 15px;
    font-weight: 400;
    font-size: 14px;
    color: #6F6F6F;
}


.btn-fb {
    overflow: hidden;
    width: 90%;
    background-color: #395185;
    border: none;
    height: 47px;
    outline: none;
    text-decoration: none;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    margin: 2px 0;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 500;
    font-size: 14px;
    place-self: end center;
    padding: 12px 0px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    position: relative;
}

.btn-fb:hover {
    color: rgb(253, 253, 253);
}

.btn-fb::before {
    content: "";
    position: absolute;
    background-color: #fff;
    padding: 50%;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
    transition: transform 0.5s, opacity 1s;
}

.btn-fb:active::before {
    transition: 0s;
    opacity: 0.3;
    transform: translate(-50%, -50%) scale(0);
}

.btn-fb img {
    margin-right: 16px;
}

.btn-gg img {
    margin-right: 16px;
}

.btn-gg {
    width: 90%;
    background-color: #ffffff;
    border-color: black;
    border: solid 0.25px #7E7E7E;
    height: 47px;
    outline: none;
    text-decoration: none;
    border-radius: 10px;
    color: rgb(39, 39, 39);
    text-align: center;
    font-weight: 600;
    margin: 2px 0;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 500;
    font-size: 14px;
    place-self: start center;
    padding: 12px 0px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    position: relative;
    overflow: hidden;
}

.btn-gg:hover {
    color: rgb(39, 39, 39);
}

.btn-gg::before {
    content: "";
    position: absolute;
    background-color: rgb(85, 85, 85);
    padding: 50%;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
    transition: transform 0.5s, opacity 1s;
}

.btn-gg:active::before {
    transition: 0s;
    opacity: 0.3;
    transform: translate(-50%, -50%) scale(0);
}

.container-btn-circle {
    place-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}

.box-btn-circle {
    background: #FFFFFF;
    box-shadow: -6px 5px 5px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    width: 60px;
    height: 60px;
    margin: 0px 10px;
    display: grid;
    place-items: center;
}

.footer-index {
    place-self: center;
}

.footer-index h6 {
    text-align: center;
    font-size: 10px;
    padding: 0px 40px;
    line-height: 18px;
}

.footer-index h6 a {
    font-weight: 600;
    text-decoration: none;
    color: brown;
}

.footer-index p {
    text-align: center;
    font-size: 10px;
    font-weight: 400;
}

.footer-index p a {
    text-decoration: none;
    color: brown;
}

/* #TODO Page_SIgnUP_Phone_Number */

.container-2 {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px 50px 80px 50px auto;
    background-color: rgb(255, 255, 255);
    padding: 0px 20px;
    grid-gap: 20px;
}

.judul-2 {
    padding-top: 30px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: 30px auto;
    align-self: flex-end;
}

.judul-2 a {
    padding-left: 10px;
}

.judul-2 h6 {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.text-1 h6 {
    font-weight: 600;
    font-size: 16px;
    color: #141414;
    padding: 20px 20px 0px 20px;
}

#sub-text {
    font-weight: 500;
    margin-left: 20px;
    font-size: 12px;
    color: #6F6F6F;
}

.text-1 p {
    font-weight: 400;
    font-size: 16px;
    color: #4A4A4A;
    padding-left: 20px;
}

.form-input {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#phone {
    width: 100%;
    border: 1px solid #7E7E7E;
    border-radius: 10px;
}

.placeholder-number {
    border: 0;
    padding: 10px 5px;
    width: auto;
    font-size: 14px;
    width: 90%;
    outline: none;
}

#input-error {
    margin: -13px 0px;
    padding: 0px 10px;
    color: red;
    font-size: 12px;
    display: none;
}

.btn-SC {
    width: 100%;
    background-color: #C4C4C4;
    border: none;
    height: 47px;
    outline: none;
    text-decoration: none;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    margin: 20px 0;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 500;
    font-size: 14px;
    place-self: end center;
    padding: 12px 0px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

/* #TODO Verif Code  */

.container-3 {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px 20% auto;
    background-color: rgb(255, 255, 255);
    padding: 0px 20px;
    grid-gap: 20px;
}

.verify {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    align-self: flex-end;
}

.inputs {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 20px;
    margin-top: -60px;
}

.inputs>* {
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    outline: none;
    border: none;
    border-bottom: 1px solid #C4C4C4;
}

input[type="submit"] {
    background: black;
    color: white;
    font-size: 20px;
    padding: 20px;
    border: 0;
    width: 100%;
    text-align: center;
}

input[type="submit"]:focus {
    border-color: blue;
}

.btn-verif {
    width: 100%;
    background-color: #C4C4C4;
    border: none;
    height: 47px;
    outline: none;
    text-decoration: none;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    margin-top: 60%;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 500;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    align-items: flex-end;
}

.footer {
    place-self: start center;
    text-align: center;
    font-size: 10px;
    font-weight: 400;
}

.footer a {
    text-decoration: none;
    color: brown;
}

/* #TODO Page Brithday  */
.judul-3 {
    padding-top: 30px;
    padding-right: 20px;
    align-self: flex-end;
}

.judul-3 h6 {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.input_nohp-3 {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px auto;

}

.input_nohp p {
    font-size: 14px;
    font-weight: 500;
    padding-top: 50%;
}

.pacholder-4 input {
    font-family: Montserrat;
    border: 0;
    padding: 10px 20px;
    width: auto;
    font-size: 14px;
    width: 90%;
    outline: none;
    margin: 0px 10px;
    letter-spacing: 0.7em;
    text-transform: uppercase;
    color: #C4C4C4;
}

.input_nohp-3 button {
    align-self: flex-end;
}

.btn-next {
    width: 100%;
    background-color: #C4C4C4;
    border: none;
    height: 47px;
    outline: none;
    text-decoration: none;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    margin: 20px 0;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 500;
    font-size: 14px;
    padding: 12px 0px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    align-self: flex-end;


}

.container-4 {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px 80px auto;
    background-color: rgb(255, 255, 255);
    padding: 0px 20px;
    grid-gap: 20px;
}

/* #TODO Create_Password */

.container-5 {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px 50px auto;
    background-color: rgb(255, 255, 255);
    padding: 0px 20px;
    grid-gap: 20px;
    /* margin: 20px; */
}

.pass {
    padding-top: 20px;
    display: grid;
    grid-template-rows: 80px auto;
}

.wraper {
    margin: 10px 20px;
    position: relative;
}

.wraper input {
    width: 100%;
    padding: 6px 0px;
    letter-spacing: 0.2em;
    outline: none;
    border: none;
    border-bottom: 1px solid #C20001;
}

::placeholder {
    color: #C4C4C4;
    font-weight: 400;
    font-size: 14px;
}

.wraper span {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.img1 {
    display: block;
}

.img2 {
    display: none;
}

.strength-1 {
    font-weight: 500;
    font-size: 12px;
    color: #9E9E9E;
}

.strength-1 b {
    color: #D62632;
}

.strength {
    margin: 10px 20px;
    font-size: 12px;
    font-weight: 400;
}

.strength img {
    margin-right: 7px;
}

#success {
    display: none;
}

.btn-pass {
    width: 100%;
    background-color: #C4C4C4;
    border: none;
    height: 47px;
    outline: none;
    text-decoration: none;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    margin: 20px 0;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 500;
    font-size: 14px;
    place-self: end center;
    padding: 12px 0px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    align-items: flex-end;
}

/* #TODO Create_User_Name */

.container-c-username {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px 50px auto;
    background-color: rgb(255, 255, 255);
    padding: 0px 20px;
    grid-gap: 20px;
    /* margin: 20px; */
}

.text-username {
    margin-left: 20px;
}

.text-username h6 {
    font-weight: 600;
    font-size: 16px;
    color: #1A1A1A;
}

.text-username p {
    font-weight: 500;
    font-size: 12px;
    color: #6F6F6F;
}

.pass {
    padding-top: 20px;
    display: grid;
    grid-template-rows: 80px auto;
}

.wraper {
    margin: 10px 20px;
    position: relative;
}

.wraper input {
    width: 100%;
    padding: 6px 0px;
    letter-spacing: 0.2em;
    outline: none;
    border: none;
    border-bottom: 1px solid #999999;
}

::placeholder {
    color: #C4C4C4;
    font-weight: 400;
    font-size: 14px;
}

.wraper span {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.ceklist {
    display: none;
}

.failed {
    display: none;
}

.strong {
    margin-left: 20px;
    margin-top: -20px;
    display: none;
}

.btn-pass {
    width: 100%;
    background-color: #C4C4C4;
    border: none;
    height: 47px;
    outline: none;
    text-decoration: none;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    margin: 20px 0;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 500;
    font-size: 14px;
    place-self: end center;
    padding: 12px 0px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    align-items: flex-end;
}

/* #TODO Interest */

.container-int {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 170px auto auto;
    background-color: rgb(255, 255, 255);
    padding: 0px 20px;
    grid-gap: 20px;
}

.judul-int {
    align-self: flex-start;
    padding-top: 60px;
}

.judul-int h6 {
    font-weight: 700;
    font-size: 24px;
}

.judul-int p {
    padding-top: 15px;
    font-weight: 400;
    font-size: 14px;
    color: #6F6F6F;
}

.pilihan {
    display: grid;
    grid-template-columns: 1fr 1fr 0.4fr;
    grid-template-rows: 1fr 1fr 1fr 1fr auto;
    place-items: start;
    grid-column-gap: 18px;
    grid-row-gap: 25px;
}

.checkbox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.checkbox:checked~.pilih {
    display: block;
}

.box-int {
    background: #FFFFFF;
    box-shadow: -6px 5px 5px rgba(0, 0, 0, 0.05);
    border-radius: 28px;
    width: 95px;
    height: 95px;
    display: flex;
    position: relative;
    justify-content: center;
}

.checkbox-img {
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.pilih {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

.checkbox-img img {
    width: 24px;
    height: 24px;
    margin-top: 10px;
}

.checkbox-img p {
    font-size: 14px;
    font-weight: 500;
    padding: 10px 10px 0px 10px;
    word-break: break-all;
    text-align: center;
}

.btn-login-int {
    width: 100%;
    background-color: #B82935;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 500;
    font-size: 14px;
    place-self: end center;
    margin: 20px 0px;
}